[Unit]
Description=GitLab time-tracking varlink daemon

[Socket]
ListenStream=%t/gitlab-trackrd.socket
FileDescriptorName=varlink
Service=gitlab-trackrd.service

[Install]
WantedBy=sockets.target
